* {
  margin: 0;
  padding: 0;
}
/* first section */
.first-section-container {
  background: rgba(229, 84, 115, 0.1);
  height: 84vh;
  display: flex;
  justify-content: space-between;
  gap: 97px;
}
/* set image position */
.title-img {
  width: 635px;
  height: 800px;
  margin-right: 240px;
  position: relative;
  top: -13px;
}
.title-container {
  margin-left: 240px;
  padding: 10px;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 360px;
}

#one {
  font-family: "Lato", sans-serif;
  color: #272727;

  font-size: 80px;

  font-weight: 800;
  padding-bottom: 32px;
}
.title-container p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
  padding-bottom: 32px;
}
.shop-now-btn {
  border-radius: 8px;
  border: none;
  background: #e55473;
  padding: 20px 44px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;

  font-weight: 700;
}
/* second section */
.second-section-container h4 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;

  font-weight: 800;
  margin-top: 174px;
  margin-bottom: 24px;
}
.primary-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;

  font-weight: 400;
  margin-bottom: 48px;
}
/* Third section */
.third-section-flower-tree-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 400px;
}
/* first img pos */
.img-fl1 {
  position: relative;
  top: 30px;
}
/* 3rd img pos */
.img-fl3 {
  position: relative;
  top: 20px;
}
/* flower id */
#x {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 76px;
}
#y {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px 47px;
}
#z {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 77px 75px 0px 75px;
}
h6 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 14px;

  font-weight: 700;

  text-decoration-line: underline;
}
/* heading flower --id  */
#flower1 {
  position: relative;
  top: 60px;
}
#flower2 {
  position: relative;
  top: 100px;
}
#flower3 {
  position: relative;
  top: 45px;
}
/* fourth section */
.fourth-section-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 186px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 200px;
}
.hot-deals {
  margin-left: 390px;
  padding: 10px;
  text-align: center;
  margin-top: 230px;
  margin-bottom: 60px;
}
#hot-deal {
  color: #272727;
  font-family: Lato;
  font-size: 40px;

  font-weight: 800;
  margin-bottom: 40px;
}
span {
  color: #e55473;
}
.hot-deal-img {
  position: relative;

  margin-right: 430px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hot-heal-sign-up-btn {
  border-radius: 8px;
  border: none;
  background: #e55473;
  padding: 20px 44px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}
.hot-deal-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
/* fifth-section */
.fifth-section-container {
  width: 100%;
  margin: 0;
  text-align: center;
}
.instra-tittle {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.instra-info {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
}

              /* six-section */
.sixth-section-container {
  /* width: 100%; */
  /* height: 50vh; */
  
  display: flex;
  /* position: relative; */
  justify-content: center;
  gap: 24px;
  left: 240px;
  padding-bottom: 200px;
}
/* .position-flower {
  position: relative;
  gap: 24px;
} */
/* seven-section */
.seventh-section {
  width: 100%;
  height: 50vh;
  background-image: url('../Flower\ Asset/rectangle 9.png');
  background-repeat: no-repeat;
  background-position: center;
}
.seventh-section-container {
  text-align: center;
  position: relative;
  top: 100px;
}
.seventh-section {
  margin-bottom: 150px;
}
/* input field */
input[type="email"] {
  border-radius: 8px;
  background: #fff;

  text-align: center;
  font-family: Lato;
  font-size: 16px;

  font-weight: 400;

  padding: 20px 200px 20px 20px;
  margin-bottom: 200px;
}
/* subscription button */
.sub-now-btn {
  border-radius: 8px;
  border: none;
  background: #e55473;
  padding: 20px 44px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}
/* footer section */

.footer {
  width: 100%;
  height: 50vh;

  background: #111010;
  margin-top: 200px;
  padding-top: 128px;
}
.footer-title {
  text-align: center;
  color: white;
}
.para1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;

  font-weight: 400;
}
.footerpara {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;

  font-weight: 400;
  padding-bottom: 32px;
  padding-top: 24px;
}
.footer-container {
  margin-top: 120px;
}
/* Bonus Section */

.sixth-section-bonus {
  
  margin-top: 100px;
  
  text-align: center;
}

.customer-title {
  padding-bottom: 100px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;

  font-weight: 800;
  
}
.bonus-btn {
  border-radius: 8px;
  border: none;
  background: #e55473;
  padding: 20px 44px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
}
